@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

/* Neue Montreal Font - Pangram Pangram Foundry */
/* Add your Neue Montreal font files to public/fonts/ directory */
/* You can download the font from: https://pangrampangram.com/products/neue-montreal */
/* Font-face declarations commented out until font files are added to public/fonts/ */
/* 
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2'),
       url('/fonts/NeueMontreal-Regular.woff') format('woff'),
       url('/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Medium.woff2') format('woff2'),
       url('/fonts/NeueMontreal-Medium.woff') format('woff'),
       url('/fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Bold.woff2') format('woff2'),
       url('/fonts/NeueMontreal-Bold.woff') format('woff'),
       url('/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  background: radial-gradient( #2a2a2a, #ffffff 60%);
}

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

.spadeace-pattern {
  background-image: url('/images/spadeace.png');
  background-repeat: repeat;
  background-size: 80px 120px;
  opacity: 0.4;
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}
